<h2 mat-dialog-title>{{ isEditMode ? 'Editar Post' : 'Novo Post' }}</h2>

<mat-dialog-content [formGroup]="form">
  <div class="form-group">
  <app-cp-form-field
    type="text"
    label="Título"
    formControlName="title"
    placeholder="Título do post"
  ></app-cp-form-field>
  <app-cp-form-field
    type="textarea"
    label="Conteúdo"
    formControlName="body"
    placeholder="Escreva algo..."
  ></app-cp-form-field>
  <app-cp-form-field
    type="text"
    label="URL da Imagem"
    formControlName="imageUrl"
    placeholder="https://exemplo.com/imagem.jpg"
  ></app-cp-form-field>
  </div>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button (click)="onCancel()">Cancelar</button>
  <button
    mat-raised-button
    color="primary"
    (click)="onSave()"
    [disabled]="form.invalid"
  >
    {{ isEditMode ? 'Salvar' : 'Criar' }}
  </button>
</mat-dialog-actions>
