html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.container {
  max-width: 980px;
  margin: 0 auto;
  padding: 80px;
  box-sizing: border-box;
}
